@model Logic.ViewModels.Account.UserRegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}

<h2>Rejestracja</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Utwórz konto</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <!--Imię-->
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <!--Nazwisko-->
    <div class="form-group">
        @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>
    </div>

    <!--Pesel-->
    <div class="form-group">
        @Html.LabelFor(m => m.Pesel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Pesel, new { @class = "form-control" })
        </div>
    </div>

    <!--Numer telefonu-->
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <!--Adres email-->
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        </div>
    </div>

    <!--Login-->
    <div class="form-group">
        @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        </div>
    </div>

    <!--Hasło-->
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>


    <!--Powtórz hasło-->
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <!--Rola-->
    <div class="form-group">
        @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Role, new List<SelectListItem> { new SelectListItem { Text = "Kierowca", Value = "0" }, new SelectListItem { Text = "Admin", Value = "1" } }, null, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="offset-md-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Utwórz konto" />
        </div>
    </div>
}


<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pl',
            startDate: '01/01/1890'
        });
    });
</script>